[project]
name = "srai"
version = "0.1.0"
description = ""
authors = [
    {name = "srai", email = "example@gmail.com"},
]
# pdm add <library>
dependencies = [
    "pandas>=1.3",
    "geopandas>=0.11.1",
    "shapely>=1.8.5.post1",
    "h3>=4.0.0b1",
    "numpy>=1.23.4",
    "pydantic>=1.10.2",
    "geoparquet>=0.0.3",
    "pyrosm>=0.6.1",
    "geovoronoi>=0.4.0",
    "pyfunctional>=1.4.3",
]
requires-python = ">=3.8"
readme = "README.md"
license = {text = "Apache-2.0"}
[project.optional-dependencies]
docs = [
    "mkdocs>=1.4.0",
    "mkdocs-material>=8.5.6",
    "mkdocs-mermaid2-plugin>=0.6.0",
    "mkdocstrings[python]>=0.19.0",
    "mkdocs-jupyter>=0.22.0",
]

[build-system]
requires = ["pdm-pep517>=1.0.0"]
build-backend = "pdm.pep517.api"

[tool]
[tool.pdm]
[tool.pdm.dev-dependencies]
# pdm add <library> -dG dev
dev = [
    "black~=22.10",
    "flake8~=5.0",
    "isort~=5.10",
    "mypy~=0.982",
    "pytest~=7.1",
    "pytest-cov~=4.0",
    "pre-commit~=2.20",
    "ipykernel>=6.16.0",
    "alive-progress>=2.4.1",
]

[tool.black]
line-length = 100
target-version = ["py38", "py39", "py310"]

[tool.isort]
profile = "black"
