[project]
name = "srai"
version = "0.1.0"
description = ""
authors = [
    {name = "srai", email = "example@gmail.com"},
]
dependencies = [
    "pandas>=1.3",
]
requires-python = ">=3.8"
readme = "README.md"
license = {text = "Apache-2.0"}
[project.optional-dependencies]
docs = [
    "mkdocs>=1.4.0",
    "mkdocs-material>=8.5.6",
    "mkdocs-mermaid2-plugin>=0.6.0",
    "mkdocstrings[python]>=0.19.0",
    "mkdocs-jupyter>=0.22.0",
]

[build-system]
requires = ["pdm-pep517>=1.0.0"]
build-backend = "pdm.pep517.api"

[tool]
[tool.pdm]
[tool.pdm.dev-dependencies]
dev = [
    "black~=22.10",
    "flake8~=5.0",
    "isort~=5.10",
    "mypy~=0.982",
    "pytest~=7.1",
    "pytest-cov~=4.0",
    "pre-commit~=2.20",
    "ipykernel>=6.16.0",
]

[tool.black]
line-length = 100
target-version = ["py38", "py39", "py310"]

[tool.isort]
profile = "black"
